.footer {
  margin: 4.2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo path {
    fill: $dark-grey;
  }
  &__logo-link {
    margin-right: 4rem;
  }

  &__text,
  &__link {
    margin: 0;
    padding: 0;
    color: $dark-grey;
    font-size: 1.8rem;
  }

  @media screen and (min-width: $large+1) {
    width: 140rem;
  }
  @media screen and (max-width: $large) {
    width: 128rem;
  }
  @media screen and (max-width: $medium) {
    width: 90rem;
  }
  @media screen and (max-width: $small) {
    width: 90%;
  }
}
