.header {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  background: url("./assets/images/Hero_BG_Image.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  @media screen and (min-width: $large+1) {
    width: 140rem;
  }
  @media (max-width: $large) {
    width: 128rem;
  }
  @media (max-width: $medium) {
    width: 90rem;
  }
  @media (max-width: $small) {
    width: 100%;
  }
}

.top-bar {
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo-link {
    margin-right: 4rem;
  }
  &__text,
  &__link {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1.8rem;
  }
  @media (max-width: $small) {
    width: 90%;
    padding: 0;
  }
}

.hero {
  margin: 0 auto;
  margin-top: 10rem;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: $small) {
    text-align: center;
    width: 100%;
  }
  &__header {
    margin: 0 auto;
    color: #ffffff;
    font-size: 4.8rem;
    @media screen and (max-width: $small) {
      font-size: 2.8rem;
    }
  }
  &__text {
    margin: 0 auto;
    margin-top: 3.2rem;
    color: #ffffff;
    opacity: $transparent;
    font-size: 2.4rem;
    text-align: center;
    font-weight: normal;
    @media screen and (max-width: $small) {
      font-size: 1.8rem;
    }
  }
  &__buttons {
    margin: 4.8rem auto;
    margin-bottom: 0rem;
    width: 40.3rem;
    display: flex;
    justify-content: space-between;
    @media (max-width: $small) {
      flex-direction: column;
      text-align: center;
      width: 70%;
    }
    .button {
      margin-bottom: 2rem;
    }
  }
  &__video {
    margin: 8rem auto;
    margin-bottom: 0;
    box-shadow: 0px 2px 4px rgba(47, 48, 53, 0.15);
    border-radius: 16px;
    min-height: 40.5rem;

    @media screen and (min-width: $large+1) {
      width: 72rem;
      min-height: 40.5rem;
    }
    @media (max-width: $large) {
      width: 70%;
      min-height: 30rem;
    }
  }
  &__form {
    position: relative;
    top: 4rem;
    background: linear-gradient(119.81deg, #ffffff 0.34%, $light-grey 48.48%),
      $light-grey;
    box-shadow: 0px 2px 6px rgba(47, 48, 53, 0.1),
      0px 1px 1px rgba(47, 48, 53, 0.1);
    border-radius: 1.6rem;

    @media screen and (min-width: $large+1) {
      width: 62.4rem;
    }
    @media (max-width: $large) {
      width: 62rem;
    }
    @media (max-width: $medium) {
      width: 50rem;
    }
    @media (max-width: $small) {
      width: 60%;
    }
  }
}

.form {
  margin: 0 auto;
  margin-top: 3.2rem;
  padding: 4.8rem;

  display: flex;

  @media (max-width: $small) {
    padding: 2rem;
    flex-direction: column;
  }
  &__content {
    flex-grow: 1;
    margin-inline-end: 3rem;
  }
  &__header {
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: bold;
    @media (max-width: $small) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  &__text {
    font-size: 2rem;
    line-height: 2.4rem;
    opacity: $transparent;
    @media (max-width: $small) {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
  }
  &__bullets {
    padding: 0;
    margin-left: 3.5rem;
    color: $blue;
    font-size: 3rem;
    line-height: 2.4rem;
    font-weight: bold;
    span {
      font-size: 2rem;
      color: $dark-grey;
    }
  }
  &__bullet {
    padding-left: 0;
    text-align: start;
  }
  &__fields {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  input[type="text"] {
    height: 4.8rem;
    font-size: 2rem;
    padding: 0 2rem;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0px 2px 4px rgba(47, 48, 53, 0.1),
      0px 1px 1px rgba(47, 48, 53, 0.1);
  }
  &__button {
    margin-top: 3.2rem;
    font-size: 2rem;
    padding: 1.4rem 0;
  }
}

.fields {
  label {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__email-label {
    margin-top: 1.6rem;
  }
}
