<section class="about">
  <div class="about__text-content text-content">
    <p class="text-content__subheader">The main features</p>
    <h2 class="text-content__header">Highlight your main selling points in this section</h2>
    <p class="text-content__text">Nemo enim ipsam voluptatem quia voluptas sit asperna netsum lorisum fugit, sed quia
      magni dolores eos qui ratione sequi nesciunt.</p>
    <ul class="text-content__bullets">
      <li class="text-content__bullet bullet bullet--mail">
        <p class="bullet__header">Aquire leads with ease</p>
        <p class="bullet__text">Nemo enim ipsam voluptatem quia voluptas sit asperna netsum lorisum fugit, sed quia
          magni.</p>
      </li>
      <li class="text-content__bullet bullet bullet--anchor">
        <p class="bullet__header">Beautiful and responsive</p>
        <p class="bullet__text">Nemo enim ipsam voluptatem quia voluptas sit asperna netsum lorisum fugit, sed quia
          magni.</p>
      </li>
    </ul>
  </div>
  <img class="about__image" src="./assets/images/Big_Feature_Image.png" alt="big picture image" width="480"
    height="614">
</section>