<section class="pros">
  <ul class="pros__list">
    <li class="pros__item item item--award">
      <p class="item__header">Stand out with great style</p>
      <p class="item__text">Nemo enim ipsam voluptatem quia voluptas sit asperna netsum lorisum fugit, sed quia magni.
      </p>
    </li>
    <li class="pros__item item item--chart">
      <p class="item__header">Easy to customise</p>
      <p class="item__text">Nemo enim ipsam voluptatem quia voluptas sit asperna netsum lorisum fugit, sed quia magni.
      </p>
    </li>
    <li class="pros__item item item--command">
      <p class="item__header">Convert visitors into leads</p>
      <p class="item__text">Nemo enim ipsam voluptatem quia voluptas sit asperna netsum lorisum fugit, sed quia magni.
      </p>
    </li>
    <li class="pros__item item item--copy">
      <p class="item__header">Create and test variations</p>
      <p class="item__text">Nemo enim ipsam voluptatem quia voluptas sit asperna netsum lorisum fugit, sed quia magni.
      </p>
    </li>
  </ul>
  <article class="pros__main-features main-features">
    <div class="main-features__text">
      <p class="main-features__sub-heading">The main features</p>
      <p class="main-features__heading">Highlight your main selling points in this section</p>
    </div>
    <div class="pros__buttons">
      <button class="pros__button button button--outlined">Read More</button>
      <button class="pros__button button button--action">Request Access</button>
    </div>

  </article>
</section>