<section class="reviews">
  <article class="reviews__review review">
    <img class="review__image" src="./assets/images/Quote_Image.png" alt="quote Author">
    <blockquote class="review__blockquote">“Nemo enim ipsam voluptatem quia voluptas sit asperna netsum lorisum.”</blockquote>
    <cite class="review__cite">Sharon V. Collins, Morrison</cite>
    <button class="review__button button button--action">Request Access</button>
  </article>
</section>