<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">

        <header>
            {{> ./partials/hero }}
        </header>

        <main>
            {{> ./partials/about }}
            {{> ./partials/reviews }}
            {{> ./partials/pros }}
        </main>
        
        <footer>
            {{> ./partials/footer }}
        </footer>

    </div>

    <!-- Fonts -->
</body>

</html>