// Variables
// colors
$yellow: #ffd300;
$blue: #2134b2;
$dark-grey: #2f3035;
$grey: #86899b;
$light-grey: #f3f4f9;
$transparent: 0.75;

//breakpoints
$small: 600px;
$medium: 900px;
$large: 1280px;

// Global styles and elements
html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  color: $dark-grey;
}

h1 {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 140rem;
  
  @media screen and (min-width: $large+1) {
    width: 140rem;
  }
  @media screen and (max-width: $large) {
    width: 128rem;
  }
  @media screen and (max-width: $medium) {
    width: 90rem;
  }
  @media screen and (max-width: $small - 1) {
    width: 60rem;
  }
}

.button {
  padding: 1.4rem 3.2rem;
  text-decoration: none;
  color: $dark-grey;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 4.8rem;
  line-height: 2rem;
  outline: none;
  &--action {
    background: $yellow;
  }
  &--outlined {
    background: none;
    border: 1px solid #fff;
    color: #fff;
  }
}

// Imports
@import "./assets/css/hero";
@import "./assets/css/about";
@import "./assets/css/reviews";
@import "./assets/css/pros";
@import "./assets/css/footer";
